.login-wrapper {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.login-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/images/loginbg1_imresizer.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: 0;
}

.login-container {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin: auto;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #115293;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* space for the icon */
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

/* ========== Responsive Styles ========== */

/* Tablets (portrait and landscape) */
@media (max-width: 992px) {
    .login-background {
        justify-content: center;
        padding-right: 0;
    }

    .login-container {
        width: 80%;
        padding: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Phones */
@media (max-width: 576px) {
    .login-background {
        justify-content: center;
        padding: 20px;
    }

    .login-container {
        width: 100%;
        padding: 20px;
    }

    .login-container input,
    .login-container button {
        font-size: 14px;
        padding: 10px;
    }

}