
$craft-blue: #26A9E0;
$black: #000000;
$shuttle-grey: #666874;
$white: white;
$light-grey: #A1A5B71A;
$mercury: #DFE5ED;
$thunder: #2F2F2F;
$grey-chateau: #A1A5B7; 
$iron: #CFD5DE;
$orange: orange;
$orange-secondary: Orange;
$lightgray: gray;
$mediumgray: mediumgray;
$provincial-pink: #f9e1d5;
$tahiti-gold: #e26b2d;
$dim-grey: #707070;
$whisper2: #e8e8e8;
$whisper: #e4e4e4;
$jackson-purple: #362d7e;