<div class="sidebar-container" *ngIf="isLoggedIn; else showLogin">
  <!-- <div class="sidebar-container" *ngIf="isLoggedIn; else showLogin"> -->
  <lib-header (onSelectedClick)="hideShowSideNav($event)"></lib-header>
  <div class="top-loader-bar" *ngIf="isLoading | async"></div>
  <!-- <mat-progress-bar *ngIf="isLoading | async" mode="indeterminate" color="accent"></mat-progress-bar> -->
  <!---side-menu-->
  <mat-sidenav-container class="sidebar-sidenav-container">
    <mat-sidenav mode="side" [opened]="isOpened" class="responsive-view">
      <mat-nav-list class="side-navbar">
        <ng-container *ngFor="let menu of menuList; index as i">
          <ng-container [ngTemplateOutlet]="menu.children ? childMenu : parentMenu"
            [ngTemplateOutletContext]="{ menu: menu }">
          </ng-container>
        </ng-container>
      </mat-nav-list>

      <ng-template #parentMenu let-menu="menu">
        <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: true }">
        </mat-list-item>
      </ng-template>

      <ng-template #childMenu let-menu="menu">
        <!-- this will load the other childs -->
        <ng-container *ngIf="!menu.children[0]?.subChild">
          <mat-expansion-panel [class.mat-elevation-z0]="true" *ngIf="menu.children.length > 1">
            <mat-expansion-panel-header [ngClass]="menu.anyChildSelected ? 'is-selected' : ''">
              <mat-icon mat-list-icon [ngClass]="menu.anyChildSelected ? 'is-selected' : ''">{{ menu.icon
                }}</mat-icon>
              {{ menu.text }}
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
                routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }"
                (click)="onListTabsClick(submenu, menu)">
                <span style="white-space: nowrap">{{ submenu.text }}</span>
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
          <div class="sub-menu-one" *ngIf="menu.children.length == 1">
            <mat-label [routerLink]="menu.children[0].routerLink" routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: true }" (click)="onListTabsClick(menu.children[0], menu)">
              <label class="singlechild-item">
                <mat-icon mat-list-icon [ngClass]="menu.anyChildSelected ? 'is-selected' : ''"
                  routerLinkActive="is-active">{{ menu.icon }}</mat-icon>
                {{ menu.children[0].text }}
              </label>
            </mat-label>
          </div>
        </ng-container>

        <!-- this section is to show sub child like configuration items -->

        <ng-container *ngIf="menu.children[0]?.subChild">
          <mat-expansion-panel [class.mat-elevation-z0]="true">
            <!-- this is header -->
            <mat-expansion-panel-header>
              <mat-icon mat-list-icon [ngClass]="menu.anyChildSelected ? 'is-selected' : ''">{{ menu.icon
                }}</mat-icon>
              {{ menu.text }}
            </mat-expansion-panel-header>

            <mat-nav-list>
              <div *ngFor="let subChildMenu of menu.children[0].subChild">
                <div class="sidbar-hover-wrapper">
                  <div class="icon-content-sidbar-wrapper" (click)="
                    subChildMenu.anyChildSelected =
                      !subChildMenu.anyChildSelected
                  ">
                    <div>
                      {{ subChildMenu.text }}
                    </div>
                    <div class="icon-styling-wrapper">
                      <mat-icon *ngIf="subChildMenu.anyChildSelected">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="!subChildMenu.anyChildSelected">keyboard_arrow_up</mat-icon>
                    </div>
                  </div>
                  <ng-container *ngIf="!subChildMenu.anyChildSelected">
                    <div *ngFor="let item of subChildMenu.children" (click)="onListOfChildTabClick(item, subChildMenu)">
                      <!-- <div *ngIf="this.roleAccessService.hasPermission(item.aclId)"> -->
                      <span [ngStyle]="{
                        color: subChildMenu.anyChildSelected
                          ? '#26A9E0'
                          : '#666874'
                      }" class="text-style-sidebar-wrapper" [routerLink]="item.routerLink" routerLinkActive="is-active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        {{ item.text }}</span>
                      <!-- </div> -->
                    </div>
                  </ng-container>
                </div>
              </div>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-container>
      </ng-template>
    </mat-sidenav>

    <mat-sidenav-content class="content-style">
      <app-custom-tab (onClick)="onTabsClicked($event)" (onRemove)="OnRemoveClicked($event)"></app-custom-tab>
      <div class="main-content">
        <!-- <app-loader></app-loader> -->
        <router-outlet></router-outlet>
        <!-- <ngx-spinner bdColor="rgba(255,255,255,0)" size="medium" color="#2de7e2" type="line-spin-fade"
        [fullScreen]="true">
        <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
      </ngx-spinner> -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<ng-template #showLogin>
  <app-login (onLoginSuccess)="handleLoginSuccess()"></app-login>
</ng-template>